body {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: 'Julius Sans One', Helvetica, sans-serif;
}

a.footer-link {
  color: #11999E;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.2em;
  margin: 0 6px;
}

p.footer-name {
  color: #eaf6f6;
}

div {
  background-color: white;
}

.top-div {
  background-color: #f1fcfc;
}

.profile {
  width: 50%;
  margin: 100px auto 50px auto;
  line-height: 2;
  background-color: #ffffff;
}

.bottom-container {
  width: 100%;
  margin: 50px auto 50px auto;
  padding: 40px 0;
  line-height: 2;
  background-color: #66BFBF;
}

.myButton {
	box-shadow: 10px 10px 32px -13px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:9px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  height: 10px;
  border-color: #EAF6F6;
  margin-bottom: 40px;
  clear: both;
}

a {
  color: #11999E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-weight:100;
  font-family: 'Seaweed Script', sans-serif;
  color: #66BFBF;
}

h2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto auto auto;
  color: #66BFBF;
}

h3.bestnose {
  font-family: 'Public Sans', sans-serif;
  color: #11999E;
  text-align: left;
}

h3.partsea {
  font-family: 'Public Sans', sans-serif;
  color: #11999E;
  text-align: right;
}

h3.contactbutton {
  font-family: 'Public Sans', sans-serif;
  color: #11999E;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p.button  {
  margin-top: 20px;
  margin-bottom: 20px;
}

p.bestnose {
  text-align: left;
}

p.partsea {
  text-align: right;
}

.cloud1 {
  position: absolute;
}

.cloud2 {
  position: relative;
  left: 200px;
  top: 50px;
}

.subtext {
  position: relative;
  bottom: 70px;
}

.skill-row  {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skillstext {
    text-align: left;
}

.beach-img {
  width: 25%;
  float: right;
  padding-left: 20px;
}

.treats-img {
  width: 25%;
  float:left;
  padding-right: 20px;
}

.chione-img {
  width: 25%;
}
